<!-- <p>Den valda drycken är nu: {{chosenBeverage}}</p>
<p>Order är: {{order}}</p> -->
<h3 *ngIf="chosenBeverage" class="order">One {{chosenBeverage}} coming right up!</h3>

<div class="beverageContainer">
    <!-- <ng-container *ngIf="displayBeverages"> -->
       
        <p *ngFor="let beverage of beverages" class="beverageList">{{beverage.name}}
            <button (click)="selectBeverageButton(beverage.name)"  class="selectBeverageButton">This one!</button>
        </p>
            
       <div class="ownChoice">
            <label class="ownChoiceLabel">Or let me know if you want something else </label>
            <input type="text" placeholder="choice" (keyup)="onKeyUpOwnChoice($event)" class="ownChoiceInput">
            <button (click)="saveOwnChoiceButton()" class="ownChoiceButton">This!</button>
       </div>
           
    <!-- </ng-container> -->
    
</div>





