

    <!-- <p>Displaystrangertext i dialogue: {{displayStrangerText}}</p>
    <p>Displaybeverages är nu: {{displayBeverages}}</p> -->
    
    <!-- Visar strangertext och namninput formulär -->
    <div *ngIf="displayStrangerText">

        <h3>Howdy, stranger. Haven't seen your face around here before. What's your name?
        </h3>
        <label>Write your firstname here</label>
        <input type="text" placeholder="stranger" class="inputName" (keyup)="onKeyUpFirstName($event)">
        <label>Write your lastname here</label>
        <input type="text" placeholder="stranger" class="inputName" (keyup)="onKeyUpLastName($event)">
        <button class="saveName" (click)="saveNameButton()">Done!</button>

    </div>
   

    <!-- Visar välkommen namn text -->
    <div *ngIf="displayNameText && !displayStrangerText">
        <h3 >{{welcomeNameText}}</h3>
    </div>
    
    <!-- Visar the usual knapp -->
    <div *ngIf="displayTheUsual && !displayStrangerText">
        <app-the-usual (displayTheUsualBeverage)="handleTheUsual($event)"></app-the-usual>
    </div>

    <!-- Visar formulär för att ändra sitt namn -->
    <div *ngIf="displayChangeNameForm && !displayStrangerText">

        Do you want to change your name?
        <input type="text" placeholder="new first name" (keyup)="onKeyUpChangeFirstName($event)">
        
        <input type="text" placeholder="new last name" (keyup)="onKeyUpChangeLastName($event)">

        <button (click)="saveChangedName()">Change it!</button>
    </div>

   <!-- Visar dryckeslistan -->
    <div *ngIf="displayBeverages && !displayStrangerText">
        
        <app-select-beverage [chosenBeverage]="theUsualBeverage" ></app-select-beverage>
    </div>
    
    
    

    
    <!-- Visar text om man tar bort sitt namn -->
    <div *ngIf="forgottenUser && !displayStrangerText" class="forgetUser">
        {{glomdeUser}}
    </div>


   
       
   
    
   
    
    


